/* overrides ratchet */
.content {
  background: white;
  margin: 0 0 44px !important;
}

ul, code {
  font-size: 14px;
}

.bar .status {
  font-size: 12px;
  padding-top: 15px;
}

.comment {
  font-size: 11px;
}

/* global */
body {
  font-family: 'Roboto', sans-serif;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #ff6601;
}

/* header */
.bar-nav {
  background: #f0f0f0;
}

.bar.bar-nav {
  padding: 0;
}

.bar .segmented-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  top: auto;
}

.segmented-control .control-item {
  cursor: pointer;
  padding-bottom: 14px;
  padding-top: 18px;
  text-transform: uppercase;
}

.segmented-control .control-item.active {
  background: white;
}

/* content */
.table-view {
  border-bottom: 0;
}

.story {
  border-left: 4px solid #ff6601;
  color: inherit;
  margin: -11px -65px -11px -15px;
  overflow: hidden;
  padding: inherit;
  position: relative;
}

.story:hover {
  background: #fdfdfd;
}

.story.read {
  border-left-color: #bdbdbd;
}

.story .badge {
  background: #f0f0f0;
  font-size: .85rem;
  position: absolute;
  right: 15px;
  top: 27%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.story-title {
  display: block;
  font-size: 16px;
}

.story-host {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  margin-top: .45rem;
}

.icon-comment:before {
  background: url(../images/icon-comment.svg) no-repeat center center;
  content: '';
  display: block;
  float: left;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.story-poster {
  font-size: 12px;
  font-style: italic;
}

/* footer */
.bar-footer {
  background: #f0f0f0;
}

.bar .btn {
  background: transparent;
  border: 0;
  border-left: 1px solid #979797;
  border-radius: 0;
  padding: 17px 14px 14px 23px;
  top: 0;
}
