/* overrides ratchet */
.content {
  background: white;
  margin: 0 0 44px !important;
}

ul, code {
  font-size: 14px;
}

.bar .status {
  color: #979797;
  font-size: 12px;
  padding-top: 13px;
}

.comment {
  font-size: 11px;
}

/* global */
body {
  font-family: 'Roboto', sans-serif;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #ff6601;
}

/* spinner */
.spinner:before,
.spinner:after,
.spinner {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation-fill-mode: both;
  animation: animate-spinner 1.8s infinite ease-in-out;
}

.spinner {
  font-size: 10px;
  margin: 50px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.spinner:before {
  left: -2.5em;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 2.5em;
}

.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}

@keyframes animate-spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ff6601;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ff6601;
  }
}

/* header */
.bar-nav {
  background: #f0f0f0;
}

.bar.bar-nav {
  padding: 0;
}

.bar .segmented-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  top: auto;
}

.segmented-control .control-item {
  cursor: pointer;
  padding-bottom: 14px;
  padding-top: 18px;
  text-transform: uppercase;
}

.segmented-control .control-item.active {
  background: white;
}

/* content */
.table-view {
  border-bottom: 0;
}

.table-view-cell {
  padding: 0 65px 0 0;
}

.story {
  /* border-left: 5px solid #ff6601; */
  color: inherit;
  /* margin: -11px -65px -11px -15px; */
  overflow: hidden;
  padding: 0;
  position: relative;
}

.story .status-color {
  width: 5px;
  height: 86px;
  background-color: #ff6601;
  margin-right: 10px;
}

.story:hover {
  background: #fdfdfd;
}

.story.read .status-color {
  background-color: #bdbdbd;
}

.story .badge {
  background: #f0f0f0;
  font-size: .85rem;
  position: absolute;
  right: 15px;
  top: 27%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.story div.media-body,div.status-color {
  display: inline-block;
}

.story-title {
  display: block;
  font-size: 16px;
}

.story-host {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  margin-top: .45rem;
}

.icon-comment:before {
  background: url(../images/icon-comment.svg) no-repeat center center;
  content: '';
  display: block;
  float: left;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.story-poster {
  font-size: 12px;
  font-style: italic;
}

/* footer */
.bar-footer {
  background: #f0f0f0;
}

.bar .btn {
  background: transparent;
  border: 0;
  border-left: 1px solid #979797;
  border-radius: 0;
  padding: 17px 14px 14px 23px;
  top: 0;
}
.bar .btn:active {
  outline: none;
}